body {
    max-width: 100%; /* stop horizontal scroll */
    height:auto!important;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    /* color: white; */
    color: white;
    background-color: black;

    animation: fadeInAnimation linear 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

html {
    overflow-x: hidden; /* stop horizontal scroll */
    height:auto!important;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1.title {
    font-weight: 700;
    font-size: 30px;

    line-height: 37px;
}

h1.subtitle {
    font-weight: 500;
    font-size: 17px;

    line-height: 21px;
}

h1.category {
    font-weight: 700;
    font-size: 14px;
}

h1.status {
    font-weight: 400;
    font-size: 13px;
}

@media only screen and (max-width: 667px) { /* original / 1.1 */
    h1.title {
        font-size: 27.2727272727px;
        line-height: 33.6363636364px;
    }

    h1.subtitle {
        font-size: 15.4545454545px;
        line-height: 19.0909090909px;
    }

    h1.category {
        font-size: 12.7272727273px;
    }
    
    h1.status {
        font-size: 11.8181818182px;
    }
}