<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd …">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://github.com/DebianArch64/Crimson/releases/download/v1.0a/rootlessJB4.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>org.brandonplank.rootlessJB</string>
<key>bundle-version</key>
<string>2.1</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>RootlessJB4</string>
</dict>
</dict>
</array>
</dict>
</plist>