/*
	TutuBox Webdesign
	By @CrafterPika
	Special Thanks to @DevCasp
	(c) CrafterPika 2020
	License: none
*/

body{
  background-color: #000000;
  font-family: Arial;
}

.btn {
  background-color: #FC325F;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
}
  
.btn:hover {
  background-color: #FF1F4C;
  transition: 1000ms;
}

.text-p{
  text-align: center;
  color: #4f5654;
}

.text-a{
  text-align: center;
  color: #4f5654;
}

.text-a:hover{
  text-align: center;
  color:#ada0a0;
  transition: 1000ms;
}

.text-a2{
  text-align: center;
  color: DodgerBlue;
}

.text-a2:hover{
  text-align: center;
  color: #4f5654;
  transition: 1000ms;
}


.text-h1-white{
  text-align: center;
  color: #FFFFFF;
}

.text-h3{
  text-align: center;
  color: #4f5654;
}

.Main-Icon{
  width: 100px;
  border-radius: 15px;
}

hr { 
  border-color: #4f5654;
  background-color: #4f5654;
}

.text-white{
  text-align: center;
  color: #ffffff;
}

.credits{
  width:85%;
  max-width:350px;
  height:60px;
  background-color:#111;
  padding:10px;
  border-radius:20px;
}

.credits-icon{
  width:60px;
  border-radius:30%;
  float:left;
}

.credits-name{
  font-family:helvetica;
  color:#fff;
  font-size:17px;
  margin:5px;
  margin-left:70px;
  text-align:justify;
}

.credits-position{
  font-family:helvetica;
  color:#f2f2f2;
  font-size:14px;
  margin:5px;
  margin-left:70px;
  text-align:justify;
}



.get-btn {
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FC325F;
    padding: 3px 18px 5px 18px;
    border-radius: 50px;
    float: right;
    margin: 17px;
}

.img-padding{
  padding: 3px;
  background-color: #4f5654;
}
